<query-editor-row query-ctrl="ctrl" class="generic-datasource-query-row" has-text-edit-mode="true">
  <div class="gf-form-inline">
    <div class="gf-form">
      <input class="gf-form-input" ng-model="ctrl.target.objectId" placeholder="Object ID">
    </div>

    <div class="gf-form">
      <input class="gf-form-input" ng-model="ctrl.target.metricName" placeholder="Metric name"
        spellcheck='false' bs-typeahead="ctrl.suggestMetrics" data-min-length=0 data-items=100
        ng-blur="ctrl.refresh()" data-provide="typeahead">
    </div>
  </div>
</query-editor-row>
